/* App.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.input-container {
  position: relative;
  margin-bottom: 10px;
}

.search-input {
  width: 90%;
  max-width: 300px;
  height: 40px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 0;
  margin-bottom: 10px;
}

.search-button {
  width: 90%;
  max-width: 300px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}

.suggestions-list {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  width: 100%;
  max-width: 320px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.suggestion-item {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover:not(.selected) {
  background-color: #f4f4f4;
}

.suggestion-item.selected {
  background-color: #007bff;
  color: #fff;
}

.suggestion-item.selected:hover {
  background-color: #007bff;
}

.suggestion-profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.suggestion-username {
  font-size: 14px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid #007bff;
}

.user-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.user-location,
.user-bio {
  margin-bottom: 5px;
  text-align: center;
}

.repositories-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.repositories-list {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.repository-item {
  margin-bottom: 5px;
}

.repository-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease;
}

.repository-item a:hover {
  color: #0056b3;
}

.github-icon {
  margin-left: 5px;
}

.no-repositories {
  font-style: italic;
  color: #777;
}

.user-followers {
  font-size: 14px;
  margin-top: 10px;
}

.user-link {
  font-size: 14px;
  margin-top: 10px;
}

.user-link a {
  color: #007bff;
  text-decoration: none;
}

.user-link a:hover {
  color: #0056b3;
}

.user-twitter {
  font-size: 14px;
  margin-top: 10px;
}

.twitter-handle {
  font-weight: bold;
}

.user-email {
  font-size: 14px;
  margin-top: 10px;
}

.email {
  font-weight: bold;
}

.user-verified {
  font-size: 14px;
  margin-top: 10px;
  color: green;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.back-button {
  position: absolute;
  top: 20px; /* Adjust the top position as needed */
  left: 20px; /* Adjust the left position as needed */
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.back-button:hover {
  transform: translateY(-3px); /* Adjust the vertical position as needed */
}

.back-icon {
  font-size: 1.5rem;
}
